/*
Styleshteet Name: Kleinanzeigen UI Front Main
Description: Du kannst diese Datei in Deinem aktiven Design überschreiben.
*/

/* Tab-Styles*/
ul.cf_tabs li {
    position: relative;
    background: #fff;
    border: 1px solid #E7E9F6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    line-height: 3em;
    padding: 0;
    margin-right: 5px;
    overflow: hidden;
    float: left;
    z-index: 99;
}

ul.cf_tabs li a {
    text-decoration: none;
    padding: 0 10px;
    display: block;
}

ul.cf_tabs li.cf_active {
    border-bottom: 1px solid #fff;
}

ul.cf_tabs li.cf_active a {
    font-weight: bold;
    color: #333;
}

.cf_tab_container {
    background: #fff;
    position: relative;
    margin: 0;
    border: 1px solid #E7E9F6;
    float: left;
    width: 100%;
    top: -1px;
}

.cf_tab_content {
    padding: 15px;
}

.cf_tab_content ul {
    padding: 0;
    margin: 0 0 0 15px;
}

.cf_tab_content li {
    margin: 5px 0;
}
/*Guthaben-Info*/
.av-credits {
    float: right;
    margin-top: 0px;
    color: green;
}

/* =Styles for BuddyPress profile pages and taxonomy pages
-------------------------------------------------------------- */

.cf-ad {
    width: 96%;
    overflow: hidden;
    margin: 0 5px 5px 0;
    border: 1px solid #eaeaea;
    padding: 1em;
}

.cf-pad {
    padding: 1em;
}

.cf-image {
    float: left;
}

.cf-title {
    font-size: 1.2em;
    font-weight: bold;
}

.cf-price {
    float: right;
    font-size: 1.2em;
    font-weight: bold;
    color: #3279BB;
}

.cf-author {
    font-weight: bold;
}

.cf-terms {
    font-weight: bold;
}

.cf-expires {
    font-weight: bold;
}

.cf-info {
    margin-left: 160px;
}

.cf-info table {
    width: -webkit-fill-available;
    height: 150px;
    border-collapse: collapse;
    margin: 0 !important;
}

/* =Styles for BuddyPress checkout page
-------------------------------------------------------------- */

.terms {
    height: 100px;
    overflow-x: hidden;
    color: #888888;
    font-size: 12px;
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.cf-terms {
    width: inherit;
}

.cf-terms td {
    vertical-align: top;
}

.cf-checkout {
    width: 48%;
    float: left;
    margin-right: 15px;
}

.cf-checkout img {
    margin-bottom: 0 !important;
}

.cf-login {
    width: 48%;
    float: left;
}

#cf-message,
#cf-message-error {
    background-color: #8FF57A;
    color: #1A6A00;
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #80CF70;
    font-weight: normal;
    margin: 3px 0px 10px 0px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    padding: 5px 50px;
    float: left;
}

#cf-message-error {
    background-color: #FFEBE8;
    color: #000;
    border: 1px solid #CC0000;
}

.my-credits h3 {
    margin: 15px 0px 15px 0px;
}

.my-credits table {
    width: inherit;
}